<title>Beckanos - Home</title>
<div id="content_div">
 <h4> Teste <%=@current_user%></h4>
  <div id="actions_div">
	  <%=link_to "Home", root_url%>
    <%=link_to "Logout", logout_path%>
	  <a href='/busca'/>Busca</a>
  </div>
  
  <div id="right_div">
	  <%=image_tag("2.png")%><br/>
	  <span class="profile_login">@kentbeck</span><br/>
	  Kent Beck<br/>
	  <span class="profile_dados">Casado, 52 anos</span>
  </div>
		
  <div id="left_div">
    <span class="titulo">Beckanos</span><br/>
    <span class="descricao">a rede social da PRW Energia</span><br/>

    <h2>O que está rolando na PRW Energia?</h2>

    Atualize seu status...<br/>
    <table>
      <tr>
        <td><%=image_tag("2.png")%></td>
        <td>
	        <form>
	        <textarea rows="2" cols="60"></textarea><br/>
	        <input type="submit" value="Atualizar"/>
	        </form>
        </td>
      </tr>
    </table>
    <hr/>
    <br/>
    <% for i in (2..7) %>
      <table>
        <tr>
        <td><%=image_tag("#{i}.png")%></td>
        <td>
        <span class="usuario_diz">@JonKern diz:</span>
        <div id="atualizacao_status">Blá blá blá blá blá blá....</div>
        <span class="tempo_atras">a 20 minutos atrás</span>
        </td>
        </tr>
      </table>
      <hr/>
    <% end %>
  </div>
</div>
